/* You can add global styles to this file, and also import other style files
*{
    height: 100%;
    width: 100%;
}
body,html{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
@import "~@ng-select/ng-select/themes/default.theme.css";
html{
    height: 100%;
    width: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ff00c1 , #6400ffed);
}
